
@if ((bool)ViewData["AdminIsSignedIn"])
{
    <div class="navbar navbar-inverse navbar-fixed-top adminmenu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Admin", "AdminDetails", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Books", "Index", "Store")</li>
                    <li>@Html.ActionLink("Genres", "GenreIndex", "Admin")</li>
                    <li>@Html.ActionLink("Authors", "AuthorIndex", "Admin")</li>
                    <li>@Html.ActionLink("Carts", "CartIndex", "Admin")</li>
                    <li>@Html.ActionLink("Customers", "CustomerIndex", "Admin")</li>
                    <li>@Html.ActionLink("Admins", "AdminIndex", "Admin")</li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("Admin signed in: '" + (string)ViewData["AdminEmail"] + "'", "AdminDetails", "Admin")</li>
                    <li>@Html.ActionLink("Sign out", "SignOut", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>
}

else
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("All Books", "Index", "Store", new { area = "" }, null)</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Authors <b class="caret"></b></a>
                        @{Html.RenderAction("AuthorMenu", "Store");}
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Genres <b class="caret"></b></a>
                        @{Html.RenderAction("GenreMenu", "Store");}
                    </li>
                    @{Html.RenderAction("CartNavSummary", "Cart");}
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @{Html.RenderAction("CustomerMenu", "Customer");}
                    <li>@Html.ActionLink("Admin", "SignIn", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>
}
